# pip install -r requirements.txt
numpy==1.16.2
opencv-contrib-python==4.0.0.21
pillow==6.2.0
imutils==0.5.2
scipy==1.2.1
scikit-image==0.14.2
pytesseract==0.2.6
pyspellchecker==0.4.0
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
ipykernel==5.1.0
notebook==5.7.4
tornado==4.5.3