absl-py==0.7.0
alabaster==0.7.12
asn1crypto==0.24.0
astor==0.7.1
astroid==2.1.0
attrs==19.1.0
Babel==2.6.0
backcall==0.1.0
bleach==3.1.0
certifi==2019.3.9
cffi==1.12.1
chardet==3.0.4
cloudpickle==0.8.0
cryptography==2.5
cycler==0.10.0
cymem==2.0.2
cytoolz==0.9.0.1
decorator==4.3.2
defusedxml==0.5.0
dill==0.2.9
docutils==0.14
entrypoints==0.3
gast==0.2.2
grpcio==1.16.1
h5py==2.9.0
idna==2.8
imagesize==1.1.0
ipykernel==5.1.0
ipython==7.3.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.8
jedi==0.13.3
jeepney==0.4
Jinja2==2.10
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
keyring==18.0.0
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
Markdown==3.0.1
MarkupSafe==1.1.1
matplotlib==3.0.2
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.0.6
mkl-random==1.0.1
msgpack==0.6.1
msgpack-numpy==0.4.3.2
murmurhash==1.0.2
nbconvert==5.4.1
nbformat==4.4.0
nltk==3.4
notebook==5.7.8
numpy==1.15.4
numpydoc==0.8.0
packaging==19.0
pandas==0.24.1
pandocfilters==1.4.2
parso==0.3.4
pexpect==4.6.0
pickleshare==0.7.5
plac==0.9.6
preshed==2.0.1
prometheus-client==0.6.0
prompt-toolkit==2.0.9
protobuf==3.6.1
psutil==5.6.6
ptyprocess==0.6.0
pycodestyle==2.5.0
pycparser==2.19
pyflakes==2.1.0
Pygments==2.3.1
pylint==2.2.2
pyOpenSSL==19.0.0
pyparsing==2.3.1
pyrsistent==0.14.11
PySocks==1.6.8
python-dateutil==2.8.0
pytz==2018.9
PyYAML==5.1
pyzmq==18.0.1
QtAwesome==0.5.6
qtconsole==4.4.3
QtPy==1.6.0
regex==2018.11.22
requests==2.14.2
rope==0.12.0
scikit-learn==0.20.1
scipy==1.1.0
SecretStorage==3.1.0
Send2Trash==1.5.0
six==1.12.0
snowballstemmer==1.2.1
spacy==2.0.16
Sphinx==1.8.4
sphinxcontrib-websupport==1.1.0
spyder==3.3.3
spyder-kernels==0.4.2
tensorboard==1.12.2
tensorflow==1.15.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
thinc==6.12.1
toolz==0.9.0
tornado==6.0.1
tqdm==4.31.1
traitlets==4.3.2
typed-ast==1.3.2
ujson==1.35
urllib3==1.25
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.4.2
wrapt==1.10.11
wurlitzer==1.0.2
